h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Cardo", serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #00FFFF;
}

header {
  position: fixed;
  width: 100%;
  height: 15vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header img {
  float: right;
  margin: 0 1em 0 0;
}

header h1 {
  margin: 0 0 0 1em;
  line-height: 14vh;
}

header img:hover {
  cursor: pointer;
}

main {
  padding-top: 20vh;
}

#menu {
  display: none;
  position: fixed;
  right: 0;
  top: 10vh;
  margin-right: 3px;
  padding: 3px;
  list-style-type: none;
  width: 10vw;
}

#menu li {
  padding: 8px;
  cursor: pointer;
}

.darkCon {
  background-color: #000000;
  color: #00FFFF;
}

.darkCon ul li:hover {
  background-color: #00FFFF;
  color: #000000;
}

.lightCon {
  background-color: #00FFFF;
  color: #000000;
}

.lightCon ul li:hover {
  background-color: #000000;
  color: #00FFFF;
}

.grid-container {
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  gap: 10vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-container div {
  height: 20vh;
  width: 20vw;
  padding: 5px;
  z-index: -1;
  cursor: pointer;
}

.grid-container div p {
  display: none;
}

.grid-container div h1 {
  vertical-align: middle;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
  font-size: 3vmax;
  text-align: center;
}

.grid-container div:hover p {
  display: block;
}

.grid-container div:hover h1 {
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
  font-size: 2vmax;
}

.grid-container-collapsed {
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  gap: 5vh 5vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.grid-container-collapsed div {
  width: 90vw;
  height: 10vh;
  z-index: -1;
  cursor: pointer;
}

.grid-container-collapsed div p {
  display: none;
}

.grid-container-collapsed div h1 {
  text-align: center;
  font-size: 5vmin;
}

@media only screen and (max-width: 970px) {
  .grid-container {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    gap: 15vw;
  }
  .grid-container div {
    width: 30vw;
    height: 20vh;
  }
  #menu {
    display: none;
    top: 10vh;
    padding: 3px;
    list-style-type: none;
    width: 96.5vw;
  }
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 1.5em;
  }
  .grid-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    gap: 15vw;
  }
  .grid-container div {
    width: 90vw;
    height: 20vh;
  }
  .grid-container div p {
    display: block;
  }
  .grid-container div h1 {
    font-size: 1.5em;
    -webkit-transform: translate(0, 10%);
            transform: translate(0, 10%);
  }
  .grid-container div::hover h1 {
    font-size: 1.5em;
  }
  #menu {
    display: none;
    top: 10vh;
    padding: 3px;
    list-style-type: none;
    width: 96.5vw;
  }
}

@media only screen and (max-width: 850px) and (max-height: 420px) and (orientation: landscape) {
  .grid-container {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    gap: 10vw;
  }
  .grid-container div {
    width: 30vh;
    height: 30vh;
  }
  .grid-container div h1 {
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
  }
}
/*# sourceMappingURL=style.css.map */