.favorite-list{
    font-size: 1.5em;
    list-style-type: none;
    padding: 0;
}

.favorite-list li{
    margin-top: 1em;
}

img{
    width: 100%;
}

button{
    color: purple;
    background-color: green;
    border: 0;
    width: 50px;
}