body{
    background-color: black;
}
h1,h2,h3,h4,h5,h6{
    color: white;
    font-family: sans-serif;
}
main{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
button{
    width: 4vh;
    height: 4vh;
}

#result{
    width: 27.5vh;
    height: 5vh;
    font-size: 20px;
    border: none;
}

button{
    background-color: #448888;
    color: white;
    border: none;
}

button:hover{
    background-color: #EEFFFF;
    color: #000000;
}
