body{
    font-family: 'Cardo', serif;
    background-image: url("https://cdn.pixabay.com/photo/2017/02/02/19/44/seamless-2033661_960_720.jpg");
    color: #BBffff;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

::selection{
    background: #BBffff;
    color: black;
}

nav{
    width: 60%;
    float: left;
}

#mypic{
    width: 40%;
    float: left;
}


a{
    text-decoration: none;
    color: #00ccff;
    font-weight: bold;
    transition: 200ms ease-in-out;
}

a:hover{
    color: #6666ff;
}

#innehallsforteckning li:hover ,#innehallsforteckning  li:hover a{
    color: #6666ff;
    list-style-type: square;
    transition: 200ms ease-in-out;
}

#page{
    background-color: black;
    margin: 0% 25% 0 25%;
    padding: 20px;
    text-align: justify;
    border-radius: 2%;
}

@media screen and (max-width: 800px){
    #page{
        margin: 0 5% 0 5%;
    }

    body{
        font-size: 24px;
    }
}
