html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Cardo', serif;
    background-image: url("https://cdn.pixabay.com/photo/2017/02/02/19/44/seamless-2033661_960_720.jpg");
    color: #BBffff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

::selection{
    background: #BBffff;
    color: black;
}

nav{
    height: 150px;
}

#mypic{
    width: 40%;
    float: left;
}

a{
    text-decoration: none;
    color: #00ccff;
    font-weight: bold;
    transition: 200ms ease-in-out;
}

a:hover{
    color: #6666ff;
}

#innehallsforteckning{
    float: left;
    width: 45%;
}

#innehallsforteckning li{
    margin-bottom: 5px;
}

#innehallsforteckning li:hover ,#innehallsforteckning  li:hover a{
    color: #6666ff;
    list-style-type: square;
    transition: 200ms ease-in-out;
}

#page{
    background-color: black;
    margin: 0% 25% 0 25%;
    padding: 20px;
    border-radius: 2%;
}

#page p{
    text-align: justify;
}

#page li{
    height: 150%;
}

#favorit-spel iframe {
    width: 95%;
    height: 300px;
}

#favorit-spel li{
    margin-bottom: 50px;
}

@media screen and (max-width: 800px){
    #page{
        margin: 0 2% 0 2%;
    }

    #favorit-spel iframe{
        height: 200px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px){
    #page{
        margin: 0 10% 0 10%;
    }

    #favorit-spel iframe{
        height: 350px;
    }
}


