h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Cardo", serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #bbffff;
}

header {
  position: fixed;
  width: 100%;
  height: 15vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

header #menu-icon {
  width: 32px;
  float: right;
  margin: 1vw;
}

header h1 {
  font-size: 2em;
  margin: 0.2em;
  line-height: 14vh;
}

header img:hover {
  cursor: pointer;
}

header #home-icon {
  width: 32px;
  float: left;
  margin: 1vw;
}

main {
  padding-top: 20vh;
}

#overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url("../bilder/circuit.jpg");
  background-size: 50%;
  opacity: 0.1;
  top: 0;
  z-index: -1;
}

#menu {
  display: none;
  position: fixed;
  right: 0;
  top: 10vh;
  margin-right: 3px;
  padding: 3px;
  list-style-type: none;
  width: 10vw;
  -webkit-box-shadow: 0px 0px 5px 1px #555555;
          box-shadow: 0px 0px 5px 1px #555555;
}

#menu li {
  padding: 8px;
  cursor: pointer;
}

.darkCon {
  background-color: #000000;
  color: #bbffff;
}

.darkCon a {
  color: #FFF;
}

.darkCon a:hover {
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  color: #bbffff;
}

.darkCon #menu ul li:hover {
  background-color: #bbffff;
  color: #000000;
}

.lightCon {
  background-color: #bbffff;
  color: #000000;
}

.lightCon a {
  color: #0000FF;
}

.lightCon a:hover {
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  color: #000;
}

.lightCon #menu ul li:hover {
  background-color: #000000;
  color: #bbffff;
}

@-webkit-keyframes container-pulse {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px #00FFFF;
            box-shadow: 0px 0px 0px 0px #00FFFF;
  }
  70% {
    -webkit-box-shadow: 0px 0px 50px 5px #00FFFF;
            box-shadow: 0px 0px 50px 5px #00FFFF;
  }
}

@keyframes container-pulse {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px #00FFFF;
            box-shadow: 0px 0px 0px 0px #00FFFF;
  }
  70% {
    -webkit-box-shadow: 0px 0px 50px 5px #00FFFF;
            box-shadow: 0px 0px 50px 5px #00FFFF;
  }
}

.grid-container {
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  gap: 10vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-container div {
  height: 20vh;
  width: 20vw;
  padding: 5px;
  cursor: pointer;
  z-index: 0;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}

.grid-container div p {
  display: none;
  font-size: large;
}

.grid-container div h1 {
  vertical-align: middle;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
  font-size: 3vmax;
  text-align: center;
}

.grid-container div:hover {
  -webkit-transition: ease-in-out 1000ms;
  transition: ease-in-out 1000ms;
  -webkit-animation-name: container-pulse;
          animation-name: container-pulse;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.grid-container div:hover p {
  display: block;
}

.grid-container div:hover h1 {
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
  font-size: 2em;
}

.grid-container-collapsed {
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  gap: 5vh 5vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.grid-container-collapsed div {
  width: 90vw;
  height: 10vh;
  cursor: pointer;
}

.grid-container-collapsed div p {
  display: none;
}

.grid-container-collapsed div h1 {
  text-align: center;
  font-size: 5vmin;
  top: 0;
}

.grid-container-collapsed div:hover {
  -webkit-animation-name: container-pulse;
          animation-name: container-pulse;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.project-body, footer {
  width: 90vw;
  margin: 0 auto;
}

@media only screen and (max-width: 970px) {
  .grid-container {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    gap: 15vw;
  }
  .grid-container div {
    width: 30vw;
    height: 20vh;
  }
  #menu {
    display: none;
    top: 10vh;
    padding: 3px;
    list-style-type: none;
    width: 96.5vw;
  }
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 1.5em;
    padding: 0;
  }
  #home-icon, #menu-icon {
    width: 16px;
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  .grid-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    gap: 15vw;
  }
  .grid-container div {
    width: 90vw;
    height: 23vh;
  }
  .grid-container div p {
    display: block;
  }
  .grid-container div h1 {
    font-size: 1.5em;
    -webkit-transform: translate(0, 10%);
            transform: translate(0, 10%);
  }
  .grid-container div::hover h1 {
    font-size: 1.5em;
  }
  #menu {
    display: none;
    top: 10vh;
    padding: 3px;
    list-style-type: none;
    width: 96.5vw;
  }
}

@media only screen and (max-width: 850px) and (max-height: 420px) and (orientation: landscape) {
  .grid-container {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    gap: 10vw;
  }
  .grid-container div {
    width: 30vh;
    height: 30vh;
  }
  .grid-container div h1 {
    font-size: 1.3em;
  }
  .grid-container div p {
    display: none;
  }
  .grid-container div:hover h1 {
    font-size: 1.3em;
  }
  .grid-container div:hover p {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */